<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>highvalley</title>
    <link href="index.css" rel="stylesheet" />
  </head>
  <body draggable="false">
  </body>
</html>


